body {
    padding: auto;
    margin: auto;
    text-decoration: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #F5D2D3;
}

header {
    background-color: #CFCFFF;
    padding: 20px;
}

/*Pagina de informacion*/
.logo_uanl {
    position: absolute;
    left: 1.5%;
    width: 300px;
    height: 150px;
    text-align: left;
}
.logo_eiao {
    position: absolute;
    right: 1.5%;
    width: 150px;
    height: 160px;
    text-align: right;
}

.about_nav ul {
    margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #9AB7D3;
}
 
.about_nav li {
    display: inline-flex;
    list-style: none;
}
 
.about_nav a {
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
 
.about_nav ul a:hover {
    background-color: #C7E0FF;
    color: gray;
}

footer {
    display: block;
    text-align: center;
    background-color: #CFCFFF;
    padding: 20px;
}