@media only screen and (max-width: 800px) {
    body{
        font-size: small;
    }

    header{
        display: flex;
        width: 100%;
    }

    .header_main {
        position:sticky;
    }

    #Incono {
        width: 40px;
    }

    footer{
        display: flex;
        width: 100%;
    }
    .Producto {
        width: 150px;
    }
}