@media only screen and (max-width: 800px) {
    body{
        font-size: small;
    }

    header {
        gap: 1rem;
        display: grid;
        width: 100%;
        background-color: #CFCFFF;
        margin: auto;
        height: 150px;
        grid-template-areas: "logo1" "nav1 nav1";
    }

    .header_main {
        position:sticky;
    }

    #Incono {
        width: 40px;
    }

    footer{
        display: flex;
        width: 100%;
    }

    .Producto {
        width: 50px;
    }
}