@media only screen and (max-width: 800px) {
    body {
        font-size: smaller;
    }

    header {
        font-size: x-small;
    }

    .header_nav {
        display: none;
    }  

    #Incono {
        width: 55px;
    }

    #menu {
        display: block;
        position: absolute;
        top: 35px;
        right: 10px;
    }

    .menu_drop {
        position: fixed;
        top: 110px;
        right: 0; 
        margin: auto;
    }
    
    .menu_drop ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }
     
    .menu_drop li {
        list-style: none;
        background-color: #CFCFFF;
        padding: 10px;
    }
     
    .menu_drop a {
        margin: auto;
        text-decoration: none;
        color: black;
        
    }
     
    .menu_drop ul a:hover {
        color: gray;
    }

    footer {
        display: flex;
        margin: auto;
    }
}